.card-menu{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 50px 40px 50px;
    margin-top: 100px;
    box-shadow: 0 4px 4px #A7968040;
}

.img-card-menu{
    border-radius: 126px;
    width: 220px;
    height: auto;
    margin-top: -60px;
}

.item-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.item-icon li{
    width: 80%;
}

/* Tablettes paysage et petits laptops */
@media (max-width: 768px){
    .img-card-menu{
        width: 150px;
        height: auto;
        margin-top: -60px;
    }
}